<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :commentor_id, :value => current_user.id %>
	<%= f.hidden_field :date_filed, :value => DateTime.now.to_date %>

	<%= f.collection_select :user_id, User.all, :id, :fullname, :prompt => 'Select User to Rate' %><br />
	<%= f.label :comment %><br />
	<%= f.text_area :comment %><br />
	<%= f.submit %>
<% end %>
