<h1>Comment Listing</h1>
<% @comments.each do |comment| %>
	<%= comment.user.fullname %>
	<%= comment.commentor_id %>
	<%= comment.comment %>
	<%= link_to 'Edit', edit_comment_path(comment) %>
	<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br />

<h1>Create Comment</h1>
<%= render 'form' %>