<%= form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.label :address %><br />
	<%= f.text_field :address %><br />
	<%= f.label :city %><br />
	<%= f.text_field :city %><br />
	<%= f.select :base, Flat::BASE_NAMES, :prompt => "Nearest Installation" %><br />
	<%= f.label :summary %><br />
	<%= f.text_area :summary %><br />
	<%= f.label :price %><br />
	<%= f.number_field :price %><br />
	<%= f.label :sec_deposit %><br />
	<%= f.number_field :sec_deposit %><br />
	<%= f.label :photos %><br />
	<%= f.text_field :photos %><br />
	<%= f.submit %>
<% end %>
