<h1>Flat Listing</h1>
<% @flats.each do |flat| %>   
	<%= flat.address %>
	<%= flat.city %>
	<%= flat.base %>
	<%= flat.summary %>
	<%= flat.price %>
	<%= flat.sec_deposit %>
	<%= flat.photos %>
	<%= flat.user.fullname %>
	<%= link_to 'Edit', edit_flat_path(flat) %>
	<%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %>        
<% end %>

<br />

<h1>Post a Flat</h1>
<%= render 'form' %>