<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @flat.city %>
</p>

<p>
  <strong>Base:</strong>
  <%= @flat.base %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @flat.summary %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Sec deposit:</strong>
  <%= @flat.sec_deposit %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @flat.photos %>
</p>

<p>
  <strong>User:</strong>
  <%= @flat.user_id %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
