<p id="notice"><%= notice %></p>

<p>
  <strong>Tagline:</strong>
  <%= @flat.tagline %>
</p>

<p>
  <strong>Available Date:</strong>
  <%= @flat.available_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @flat.city %>
</p>

<p>
  <strong>Base:</strong>
  <%= @flat.base %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @flat.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @flat.bathroom %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Sec deposit:</strong>
  <%= @flat.sec_deposit %>
</p>

<p>
  <strong>Cleaning Fee:</strong>
  <%= @flat.cleaning_fee %>
</p>

<p>
  <strong>House Rules:</strong>
  <%= @flat.house_rules %>
</p>

<p>
  <strong>Photos:</strong>
  <%= image_tag attachment_url(@flat, :photo, :fill, 300, 300) %>
</p>

<p>
  <strong>User:</strong>
  <%= @flat.user_id %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
