<% @users.each do |u| %>  
	<% if params[:id].to_s == u.id.to_s %> 
		<h1>Owner: <%= u.fullname %></h1>
		<h1>Comments</h1>
		<% @comments.each do |comment| %>
			<% if u.id == comment.user_id %>			
				<%= comment.date_filed.strftime("%B %Y") %><br />
				<% @users.each do |user| %>
					<% if comment.commentor_id == user.id %>
						<%= user.fullname %><br />
					<% end %>
				<% end %>
				<%= comment.comment %><br />
				<% if current_user.id == comment.commentor_id %>
					<%= link_to 'Remove', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			<br />
			<br />
			<% end %>
		<% end %>
	<% end %>
<% end %>
<h1>Add A Comment</h1>
<%= render :partial => "comments/form" %>