<% if user_signed_in? %>
	<h1>Welcome <%= current_user.fullname %></h1>
	<div style='width: 300px;'>
  		<div id="map" style='width: 300px; height: 300px;'></div>
	</div>
	
	<script type="text/javascript">
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		  markers = handler.addMarkers(<%=raw @hash.to_json %>);
		  handler.bounds.extendWith(markers);
		  handler.fitMapToBounds();
		});
	</script>
	<h1>Flats</h1>
	<% @flats.each do |flat| %>   
		<%= link_to flat.tagline, home_path(:id => flat.id) %><br />
			<%= link_to flat.user.fullname, edit_home_path(:id => flat.user_id) %><br />
			<%= flat.available_date.strftime("%b %d") %><br />
			<%= flat.address %><br />
			<%= flat.city %><br />
			<%= flat.base %><br />
			<%= flat.description %><br />
			<%= flat.bedroom %><br />
			<%= flat.bathroom %><br />
			<%= flat.price %><br />
			<%= flat.sec_deposit %><br />
			<%= flat.cleaning_fee %><br />
			<%= flat.house_rules %><br />
			<%= image_tag(attachment_url(flat, :photo, :fill, 300, 300)) %><br />
			<% if current_user.id == flat.id %>
				<%= link_to 'Edit', edit_flat_path(flat) %>
				<%= link_to 'Remove', flat, method: :delete, data: { confirm: 'Are you sure?' } %><br /> <br />       	
			<% end %>
	<% end %>
<% else %>
	<h1>Welcome</h1>
<% end %>
